.cache
.parcel-cache
.lock-wscript
.node_repl_history
.npm
.vscode
*.log
*.pid
*.seed
*fiddle*
build/Release
coverage
doc/**/*
lib-cov
logs
node_modules
npm-debug.log*
pids
test/fb_integration_test.js
*scratchpad*
