language: node_js
node_js:
- 8.11.3
cache:
  yarn: true
env:
  global:
    - COVERALLS_REPO_TOKEN=OsZTi8qvDNHjOzoii1sSir7DZPpnZ2aCU
# before_install:
# - "foo bar --baz"
install:
  - npm install
# before_script:
# - "foo bar --baz"
script:
- npm run typecheck
- npm run test
- npm run coverage
